@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Cutive Mono", monospace;
}
title {
  font-family: "Cutive Mono", monospace;
}
option {
  font-family: "Cutive Mono", monospace;
}
li {
  list-style-type: none;
  padding: 5px;
}
.void-form {
  background-color: black;
  padding: 15px;
  display: block;
  border-style: solid;
  border-radius: 2em;
  border-color: white;
  width: -moz-fit-content;
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-left: 460px;
  margin-right: auto;
}

.void-card {
  background-color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-radius: 2em;
  border-color: white;
  padding: 10px;
  padding-left: 0;
  padding-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  margin: 10px;
  margin-left: 30px;
}

.void-form-div {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.delete-button {
  border-radius: 1.5em;
  border-style: solid;
  border-color: red;
  display: inline;
  height: 30px;
  width: 30px;
}
.delete-button:focus {
  background-color: black;
  color: white;
  border-style: double;
  border-color: white;
}

.void-container {
  position: absolute;
  width: 420px;
  padding: 10px;
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  height: 95vh;
  overflow: overlay;
}

.message-input {
  width: 90px;
  height: 390px;
  border: 1px solid #999999;
  padding: 5px;
}

.name-input {
  font-family: "Cutive Mono", monospace;
  padding-left: 5px;
  border-radius: 1.5rem;
  height: 25px;
}

.header {
  /* background-color: black;

  border-style: solid;
  border-radius: 2em; */
  display: block;
  margin-top: 5px;
  margin-left: 440px;
  margin-right: auto;
  width: 29%;
}
.textarea {
  border-radius: 1.5em;
  text-align: center;
}

.void-column-grid {
  height: min-content;
}
.submit-button {
  cursor: crosshair;
  border-style: solid;
  border-color: rgb(0, 255, 0);
  border-radius: 1.5em;
  padding: 5px;
  width: 250px;
  font-family: "Cutive Mono", monospace;
  font-style: italic;
}
.submit-button:focus {
  background-color: black;
  color: white;
  border-style: double;
  border-color: red;
}
.react-player {
  position: absolute;
  background-color: black;

  top: 500;
  right: 300;
  align-content: center;
  padding-top: 20px;
  margin-left: 460px;
  border-style: solid;
  border-color: white;
  border-radius: 2em;
  padding: 15px;
  margin-top: 10px;
}
