body {
  background-color: black;
  color: white;
}
li {
  list-style-type: none;
}
.void-form {
  padding: 60px;
  align-self: center;
}
.void-card,
.void-form-div {
  display: flex;
  align-content: center;
  text-align: center;
  border-style: solid;
  border-radius: 2em;
  border-color: white;
  padding: 10px;
  padding-left: 0;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 75%;
}
